<!DOCTYPE html>
<html>
<head>
    <title>Recommended Books</title>
</head>
<body>
    <h1>Recommended Books for "{{ Title }}"</h1>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <img src="{{ book.cover_url }}" alt="Book Cover" style="width: 100px; height: 150px;">
                    <strong>{{ book.title }}</strong>  
                    <!-- {% for author in book.authors %}
                        {{ author }}{% if not loop.last %}, {% endif %}
                    {% endfor %} -->
                    <br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations found.</p>
    {% endif %}
</body>
</html>
